/* body
{
    background-image: url('../images/fond');
    background-repeat: no-repeat;
    background-size: cover;
} */

.teamOne, .teamTwo
{
    opacity: 0.5;
    margin-top: 40px;
    border: 2px solid black;
    height: 640px;
    background-color: white;

}