/* body
{
    background-image: url('../images/Background/102ab1178832229a153817e8820b87f8.gif');
    background-repeat: no-repeat;
    background-size: cover;
} */

.teamOne, .teamTwo
{
    opacity: 1;
    margin-top: 40px;
    border: 2px solid black;
    height: 640px;
    background-color: white;

}

#center
{
    display: flex;
    justify-content: center;
    align-self: flex-end;
}